<p style="color: green"><%= notice %></p>

<%= render @doo %>

<div>
  <%= link_to "Edit this do", edit_doo_path(@doo) if current_user == @doo.user %> |
  <%= link_to "Back to dos", doos_path %>

  <%= button_to "Destroy this do", @doo, method: :delete if current_user == @doo.user %>
</div>
