<% @entries.each do |e| %>
  <!-- eachで回したentryユーザーがログインユーザーであれば、@classに"current_user"の文字列を代入する。ログインユーザーであれば、空白を代入する -->
  <% current_user == e.user ? @class = "current_user" : @class = ""  %>
      <!-- eachで回したentryユーザーがログインユーザーでなければ、entryユーザー名を表示する -->
      <% if e.user != current_user %>
        <h5 class="text-left <%= @class %>" id="<%= @class %>" style="font-size: 30px;" data-id="<%= e.user.id %>"><%= link_to "@#{e.user.name}", user_path(e.user_id) %></h5>
      <% else %>
          <h5 class="text-left <%= @class %>" id="<%= @class %>" data-id="<%= e.user.id %>"></h5>
      <% end %>
<% end %>
<!-- メッセージ内容は、パーシャルにします -->
<div id="direct_messages" data-room_id="<%= @room.id %>">
  <%= render @direct_messages %>
</div>
<!-- メッセージフォーム -->
<form>
  <label style="color: white;" id="target">新しいメッセージを作成</label><br>
  <input type="text" id="chat-input" data-behavior="room_speaker" class="form-control">
</form>

<script>
 //トークルーム遷移時に入力フォーム記載場所にスクロールする(最新トークは下にあるため)
 var element = document.getElementById('target'); // 移動させたい位置の要素を取得
  var rect = element.getBoundingClientRect();
  var position = rect.top;
  setTimeout( function() {
    scrollTo(0, position);}
  , 1000);
</script>
