<%= form_with(model: check) do |form| %>
  <% if check.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
        <% check.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: check, url: [check], local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control mb-3', id: 'js-new-check-content', row: 4 %>
    <% end %>
  </div>
<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: check, url: [check], local: true do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control mb-3', id: 'js-new-check-content', row: 4 %>
      <%= f.submit class: 'btn btn-pink', style: 'background-color: pink; color: white;' %>
    <% end %>
  </div>
<% end %>
