<p style="color: green"><%= notice %></p>

<%= render @check %>

<div>
  <%= link_to "Edit this check", edit_check_path(@check) if current_user == @check.user %> |
  <%= link_to "Back to checks", checks_path %>

  <%= button_to "Destroy this check", @check, method: :delete if current_user == @check.user %>
</div>
