<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: plan, url: [plan], local: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control mb-3', id: 'js-new-plan-content', row: 4 %>
  <% end %>
  <%= form_with model: plan, url: [plan], local: true do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control mb-3', id: 'js-new-plan-content', row: 4 %>
    <%= f.submit class: 'btn btn-pink', style: 'background-color: pink; color: white;' %>
  <% end %>
<% end %>
