<%= form_with(model: act) do |form| %>
  <% if act.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
        <% act.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: act, url: [act], local: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control mb-3', id: 'js-new-act-content', row: 4 %>
  <% end %>
  <%= form_with model: act, url: [act], local: true do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control mb-3', id: 'js-new-act-content', row: 4 %>
    <%= f.submit '投稿', class: 'btn btn-pink', style: 'background-color: pink; color: white;' %>
  <% end %>
<% end %>
