<%= form_with(model: act) do |form| %>
  <% if act.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
        <% act.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>
  <br>

  <div>
    <%= form.submit "投稿" %>
  </div>
<% end %>
